<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robbie_control)/config/robbie_balance_controller.yaml" command="load"/>
  <!-- load the controllers -->
  <node name="controller_spawner3"
    pkg="controller_manager"
    type="spawner" respawn="false"
    output="screen" ns="robbie"
    args="hip_balance_controller"
  />


</launch>
