<launch>
	

  <!-- <node name="stability_publisher" pkg="robbie_stability" type="robbie_stability_ex" respawn="false" output="screen"/> -->

  <!-- <node name="height_publisher" pkg="robbie_auto" type="height_publisher" respawn="false" output="screen"/> -->

  <node name="contact_publisher" pkg="robbie_stability" type="robbie_contact_ex" respawn="false" output="screen"/>

  <node name="link_states_stamper" pkg="robbie_stability" type="robbie_linkstates_stamped" respawn="false" output="screen"/>

  <node name="location_contact_synchronizer" pkg="robbie_stability" type="robbie_location_contact" respawn="false" output="screen"/>


</launch>


